<mat-card *ngIf="employee && !isLoading" class="employee-detail-card">
    <img *ngIf="employee.profilePicture" [src]="employee.profilePicture" class="profile-img" />
    <mat-card-title>{{ employee.firstName }} {{ employee.lastName }}</mat-card-title>
    <mat-card-content>
      <p><strong>Email:</strong> {{ employee.email }}</p>
      <p><strong>Gender:</strong> {{ employee.gender }}</p>
      <p><strong>Department:</strong> {{ employee.department }}</p>
      <p><strong>Position:</strong> {{ employee.position }}</p>
      <p><strong>Salary:</strong> ₹{{ employee.salary }}</p>
      <p><strong>Joined:</strong> {{ employee.date_of_joining | date }}</p>
    </mat-card-content>
  </mat-card>

  <mat-card *ngIf="isLoading">
    <p>Loading employee details...</p>
  </mat-card>
