<div class="employee-container">
  <button mat-raised-button color="primary" (click)="openAddDialog()">
    Add Employee
  </button>

  <table mat-table [dataSource]="employees">
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let emp">{{ emp.firstName }} {{ emp.lastName }}</td>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let emp">{{ emp.email }}</td>
    </ng-container>

    <!-- Department Column -->
    <ng-container matColumnDef="department">
      <th mat-header-cell *matHeaderCellDef>Department</th>
      <td mat-cell *matCellDef="let emp">{{ emp.department }}</td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let emp">
        <button
          mat-icon-button
          color="primary"
          [routerLink]="['/employees', emp._id]"
          matTooltip="View Details"
        >
          <mat-icon>visibility</mat-icon>
        </button>

        <button mat-icon-button color="warn" (click)="deleteEmployee(emp._id)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef>Position</th>
      <td mat-cell *matCellDef="let emp">{{ emp.position }}</td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

<div class="search-bar">
  <mat-form-field appearance="fill">
    <mat-label>Department</mat-label>
    <input matInput [(ngModel)]="searchCriteria.department" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Position</mat-label>
    <input matInput [(ngModel)]="searchCriteria.position" />
  </mat-form-field>

  <button mat-raised-button (click)="searchEmployees()">Search</button>
  <button mat-button (click)="clearSearch()">Clear</button>
</div>
